!CfgFileCrc:c2131a21
!Software Version V200R005C10SPC607B607
!Last configuration was updated at 2026-04-13 16:58:00 UTC
!Last configuration was saved at 2026-04-13 16:59:44 UTC
!MKHash 0000000000000000
#
sysname HUAWEI
#
device board 17 board-type CE-MPUB
device board 1 board-type CE-LPUE
#
aaa
 local-user netconf password irreversible-cipher $1c$ErVcHHW;gD$b&>25-}ss<}0\-98Fq/<pAHpY\+j"@yUfe:/k60>$
 local-user netconf service-type ssh
 local-user netconf level 3
 local-user python password irreversible-cipher $1c$4&k`7H`}W3$U%Bc&f@b6)2f=TPbEv6"&C+FShu`WC;h2MO=k_~Y$
 local-user python service-type ssh
 local-user python user-group manage-ug
 #
 authentication-scheme default
 #
 authorization-scheme default
 #
 accounting-scheme default
 #
 domain default
 #
 domain default_admin
#
interface MEth0/0/0
 undo shutdown
#
interface GE1/0/0
 shutdown
#
interface GE1/0/1
 shutdown
#
interface GE1/0/2
 shutdown
#
interface GE1/0/3
 shutdown
#
interface GE1/0/4
 shutdown
#
interface GE1/0/5
 shutdown
#
interface GE1/0/6
 shutdown
#
interface GE1/0/7
 shutdown
#
interface GE1/0/8
 shutdown
#
interface GE1/0/9
 undo portswitch
 undo shutdown
 ip address 172.16.100.103 255.255.255.0
#
interface NULL0
#
stelnet server enable
snetconf server enable
ssh user netconf
ssh user netconf authentication-type password
ssh user netconf service-type snetconf
ssh user python
ssh user python authentication-type password
ssh user python service-type stelnet
ssh authorization-type default aaa
#
ssh server cipher aes256_gcm aes128_gcm aes256_ctr aes192_ctr aes128_ctr aes256_cbc aes128_cbc 3des_cbc
#
ssh server dh-exchange min-len 1024
#
ssh client cipher aes256_gcm aes128_gcm aes256_ctr aes192_ctr aes128_ctr aes256_cbc aes128_cbc 3des_cbc
#
user-interface con 0
#
user-interface vty 0 4
 authentication-mode aaa
 user privilege level 3
 protocol inbound ssh
#
netconf
 protocol inbound ssh port 830
#
vm-manager
#
telemetry
 #
 sensor-group sensor1
  sensor-path huawei-devm:devm/cpuInfos/cpuInfo condition express op-field systemCpuUsage op-type gt op-value 1
  sensor-path huawei-devm:devm/memoryInfos/memoryInfo condition express op-field osMemoryUsage op-type gt op-value 6
 #
 destination-group dest1
  ipv4-address 172.16.100.1 port 20000 protocol grpc no-tls
 #
 subscription sub1
  sensor-group sensor1
  destination-group dest1
#
return
